@font-face {
    font-family: branditalic;
    src: url("../Qwigley-Regular.ttf");
}

#brand-name {
    font-family: branditalic, arial;
    font-size: 1.5rem;
}

#loading-img {
    margin-left:auto;
    margin-right:auto;
}

@media (min-width: 400px) {
    #brand-name {
      font-size: 2rem;
    }
}