{% extends "graphs/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="display-3 text-center">Stats options - {{ data.name }}</div>
                <button class="btn btn-secondary my-3 all-data" id="{{ data.id }}">All data</button>
                <button class="btn btn-secondary my-3 button" id="q-quotes-by-sales">Quantity of quotes and bookings</button>
                <button class="btn btn-secondary my-3 button" id="amount-by-client">Amount by client</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <table class="table table-hover" id="data-table"></table>
            </div>
            <div id="chart-view" class="d-block my-3 col-6">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>

{% endblock %}